body {
	font-family: din-2014, sans-serif;
	color:#233848;
}

h1 {
	font-size:60px;
}

h2 {
	font-size:40px;
}

h3 {
	font-size:32px;
}

h4 {
	font-size:24px;
}

p, li {
	font-size:16px;
	line-height:1.5;
}

a {
	color:#233848;
	text-decoration:none !important;
	&:hover {
		color:#48A2EA;
	}
}

input[type=text], input[type=password], input[type=email] {
	&:focus {
		outline:0;
	}
}

::-webkit-scrollbar {
	width:8px;
}

::-webkit-scrollbar-track {
	background:transparent;
}

::-webkit-scrollbar-thumb {
	background:#ccc;
	border-radius:5px;
}

.fill {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	object-fit:cover;
}

.group {
	&:after {
		content:"";
		clear:both;
		display:block;
	}
}

.white-eye-button {
	border:2px solid #fff;
	border-radius:3px;
	color:#fff;
	font-size:16px;
	font-weight:600;
	padding:15px;
	box-sizing:border-box;
	display:block;
	transition:all 0.3s ease;
	cursor:pointer;
	line-height:1;
	span {
		margin:0;
		display:inline-block;
		vertical-align:middle;
	}
	&:before {
		font-family: 'Glyphter';
		position:relative;
		display:inline-block;
		font-size:22px;
		content:"\0055";
		vertical-align:middle;
		margin-right:5px;
	}
	&:hover {
		background:#fff;
		color:#3B5163;
	}
}

.blue-eye-button {
	border:2px solid #48A2EA;
	border-radius:3px;
	color:#48A2EA;
	font-size:16px;
	font-weight:600;
	padding:15px;
	box-sizing:border-box;
	display:block;
	transition:all 0.3s ease;
	cursor:pointer;
	line-height:1;
	span {
		margin:0;
		display:inline-block;
		vertical-align:middle;
	}
	&:before {
		font-family: 'Glyphter';
		position:relative;
		display:inline-block;
		font-size:22px;
		content:"\0055";
		vertical-align:middle;
		margin-right:5px;
	}
	&:hover {
		background:#48A2EA;
		color:#fff;
	}
}

.blue-pray-button {
	border:2px solid #48A2EA;
	border-radius:3px;
	color:#48A2EA;
	font-size:16px;
	font-weight:600;
	padding:15px;
	box-sizing:border-box;
	display:block;
	transition:all 0.3s ease;
	cursor:pointer;
	line-height:1;
	span {
		margin:0;
		display:inline-block;
		vertical-align:middle;
	}
	&:before {
		font-family: 'Glyphter';
		position:relative;
		display:inline-block;
		font-size:22px;
		content:"\0055";
		vertical-align:middle;
		margin-right:5px;
	}
	&:hover {
		background:#48A2EA;
		color:#fff;
	}
}

.white-box {
	background:#fff;
	border-radius:4px;
	margin-bottom:30px;
	.white-box-header {
		height:63.67px;
		border-bottom:1px solid #E8ECEF;
		padding:22px 35px;
		position:relative;
		z-index:5;
		&.small-header {
			height:unset;
			padding:11px 35px;
			h3 {
				font-size:16px;
			}
		}
		div.more-actions {
			height:16px;
			width:16px;
			position:absolute;
			right:25px;
			top:50%;
			transform:translateY(-50%);
			cursor:pointer;
			span {
				width:4px;
				height:4px;
				background:#868686;
				border-radius:50%;
				position:absolute;
				top:50%;
				left:50%;
				transform:translateY(-50%) translateX(-50%);
				&:before {
					content:"";
					position:absolute;
					left:50%;
					transform:translateX(-50%);
					top:-6px;
					width:4px;
					height:4px;
					background:#868686;
					border-radius:50%;
				}
				&:after {
					content:"";
					position:absolute;
					left:50%;
					transform:translateX(-50%);
					bottom:-6px;
					width:4px;
					height:4px;
					background:#868686;
					border-radius:50%;
				}
			}
		}
		h3 {
			font-size:18px;
			margin:0;
			color:#3B5163;
		}
	}
	.white-box-content {
		padding:25px 35px;
		position:relative;
	}
}

.dropdown-child {
	&.z-index {
		z-index:10;
	}
	div.dropdown {
		position:absolute;
		background:#F4F4F4;
		border:1px solid #E6E8EB;
		border-top:0;
		color:#868686;
		padding:20px 25px;
		z-index:5;
		display:none;
		&.active {
			display:block;
		}
		ul {
			list-style:none;
			padding:0;
			margin:0;
			li {
				font-size:16px;
				margin:10px 0 0;
				font-weight:600;
				&:first-child {
					margin:0;
				}
				a {
					color:#868686;
				}
			}
		}
	}
}

header {
	background:#233848;
	height:70px;
	div.mark {
		padding:0;
		background-color:unset;
		float:left;
		padding:15px 30px;
		img {
			width:62px;
			float:left;
			margin-right:10px;
		}
		p {
			margin:6px 0 0;
			font-size:18px;
			color:#FFFFFF;
			float:left;
		}
	}
	div.right {
		float:right;
		text-align:left;
		line-height:1.5;
		div.info {
			border-left:1px solid rgba(255,255,255,0.08);
			padding:16px 60px 16px 20px;
			height:70px;
			float:left;
			position:relative;
			cursor:pointer;
			&:after {
				font-family: 'Glyphter';
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%) rotate(90deg);
			    right: 16px;
			    content: "\005a";
			    font-size: 14px;
			    color:#fff;
			}
			p {
				line-height:1.2;
				margin:0;
				color:#fff;
				&.location {
					font-size:18px;
				}
				&.dates {
					font-size:13px;
				}
			}
			div.dropdown {
				left:0;
				top:71px;
				width:100%;
			}
		}
		div.notifications {
			border-left:1px solid rgba(255,255,255,0.08);
			padding:16px 20px;
			height:70px;
			float:left;
			position:relative;
			cursor:pointer;
			div.bell {
				&:before {
					font-family: 'Glyphter';
					content:"\0050";
					font-size:24px;
					color:#fff;
					display:inline-block;
					vertical-align:middle;
				}
			}
		}
		div.profile {
			border-left:1px solid rgba(255,255,255,0.08);
			padding:16px 66px 16px 20px;
			height:70px;
			float:left;
			position:relative;
			padding-right:100px;
			cursor:pointer;
			&:after {
				font-family: 'Glyphter';
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%) rotate(90deg);
			    right: 40px;
			    content: "\005a";
			    font-size: 14px;
			    color:#fff;
			}
			img.profile-pic {
				width:40px;
				height:40px;
				object-fit:cover;
				border-radius:50%;
				float:left;
				margin-right:10px;
			}
			div.person-info {
				float:left;
				p {
					line-height:1.2;
					color:#fff;
					margin:0;
					&.name {
						font-size:18px;
						font-weight:700;
					}
					&.title {
						font-size:13px;
					}
				}
			}
			div.dropdown {
				left:0;
				top:71px;
				width:100%;
			}
		}
	}
}

main.dash {
	position:relative;
	background:#3B5163;
	height:calc(100vh - 70px);
	section.side-bar {
		position:absolute;
		left:0;
		top:0;
		height:100%;
		width:260px;
		background:#3B5163;
		ul.navigation {
			list-style:none;
			margin:0;
			padding:0;
			li {
				width:100%;
				font-size:18px;
				a {
					color:#fff;
					text-decoration:none;
					padding:15px 0 15px 40px;
					transition:all 0.3s ease;
					border-left:5px solid #3B5163;
					background:#3B5163;
					width:100%;
					display:block;
					box-sizing:border-box;
					position:relative;
					&:before {
						font-family: 'Glyphter';
						position:absolute;
						top:50%;
						transform:translateY(-50%);
						left:10px;
						font-size:16px;
					}
					&:after {
						font-family: 'Glyphter';
						position:absolute;
						top:50%;
						transform:translateY(-50%);
						right:15px;
						content:"\005a";
						font-size:10px;
					}
					&.manage-campaign {
						&:before {
							content:"\0044";
						}
					}
					&.edit-campaign {
						&:before {
							content:"\0052";
						}
					}
					&.calendar {
						&:before {
							content:"\0046";
						}
					}
					&.resources {
						&:before {
							content:"\0047";
						}
					}
					&:hover {
						border-left:5px solid #fff;
						background:#7BB0D8;
					}
				}
			}
		}
		.white-eye-button {
			width:228px;
			margin:30px auto 0;
			text-align:center;
			font-size:15px;
		}
	}
	section.main-content {
		position:absolute;
		right:0;
		top:0;
		height:100%;
		width:calc(100% - 260px);
		background:#F0F0F0;
		padding:45px 65px;
		border-top:1px solid #707070;
		overflow-y:scroll;
		div.overlay {
			background:rgba(255,255,255,0.8);
			position:fixed;
			right:0;
			bottom:0;
			width:calc(100% - 260px);
			height:calc(100% - 70px);
			z-index:999;
			display:none;
			div.outside {
				background:#3B5163;
				border-radius:6px;
				padding:22px;
				position:absolute;
				left:50%;
				top:50%;
				transform:translateX(-50%) translateY(-50%);
				height:85%;
				transition:all 0.3s ease;
				display:none;
				width:50%;
				&.bulk-members, &.vigil-bulk-members {
					width:90%;
					counter-reset:row;
					.count {
						border-top:1px solid #E8ECEF;
						margin:0;
						padding:20px 0;
						&:first-child {
							border-top:0;
							padding-top:0;
						}
						&:before {
							counter-increment:row;
							content:counter(row, decimal-leading-zero)".";
							font-size:18px;
							width:35px;
							float:left;
							display:block;
							margin-top:6px;
							padding-left:7.5px;
						}
						.width-35 {
							width:calc(35% - 35px) !important;
						}
					}
				}
				&.new-member {
					width:50%;
				}
				&#view-member {
					.reservations {
						margin-top:60px;
						p.vigil-reservations {
							color:#3B5163;
							font-size:18px;
							margin-bottom:0;
						}
					}
					div.team-members-header, div.vigil-header {
						border-bottom:1px solid #E8ECEF;
						padding:0;
						margin-top:20px;
						p {
							font-size:16px;
							color:#3B5163;
							margin:0;
							padding:8px 0;
						}
						div {
							float:left;
							&.name {
								width:40%;
							}
							&.date-joined {
								width:28%;
							}
							&.phone-number {
								width:32%;
							}
						}
					}
					div.team-members-content, div.vigil-content {
						border-bottom:1px solid #E8ECEF;
						padding:0;
						//height:500px;
						background:#fff;
						div.team-members-container {
							padding:0;
						}
						p {
							font-size:16px;
							color:#717171;
							margin:0;
							padding:8px 0;
						}
						div.team-member {
							border-top:1px solid #E8ECEF;
							padding:10px 0;
							&:first-child {
								border-top:0;
							}
							div {
								float:left;
								&.name {
									width:40%;
									img.avatar {
										width:40px;
										height:40px;
										object-fit:cover;
										border-radius:50%;
										float:left;
										margin-right:10px;
									}
									p {
										font-size:16px;
										color:#3B5163;
										cursor:pointer;
									}
								}
								&.date-joined {
									width:28%;
								}
								&.phone-number {
									width:18%;
								}
								&.actions {
									width:14%;
									position:relative;
									a.send-message {
										color:#868686;
										font-weight:700;
										font-size:14px;
										display:block;
										padding:11px 0;
										text-align:right;
										&:before {
											font-family: 'Glyphter';
											content:"\0054";
											display:inline-block;
											vertical-align: middle;
    										margin-right: 8px;
    										color:#48A2EA;
    										cursor:pointer;
										}
									}
								}
							}
						}
					}
					div.vigil-content div.team-member div.name p {
						color:#717171 !important;
					}
					div.blue-pray-button {
						margin-top:40px;
						display:inline-block;
						line-height:0.5;
					}
				}
				div.inside {
					border-radius:6px;
					background:#fff;
					position:absolute;
					left:22px;
					right:22px;
					top:22px;
					bottom:22px;
					padding:60px;
					overflow-y:scroll;
					&::-webkit-scrollbar-thumb {
						background:#fff;
						transition:background 0.5s ease;
					}
					&:hover::-webkit-scrollbar-thumb {
						background:#e0e0e0;
					}
					div.ss-container {
						position:absolute;
						left:0;
						top:0;
						width:100%;
						height:100%;
					}
					img.close-it {
						position:absolute;
						right:10px;
						top:15px;
						cursor:pointer;
						width:35px;
						z-index:90;
					}
					.ss-content {
						overflow-x:hidden;
						padding-right:18px;
						padding:60px;
					}
					h1 {
						font-size:30px;
						margin-top:0;
						span {
							font-weight:700;
							color:#48A2EA;
						}
					}
					p {
						color:#717171;
					}
					.form-group {
						margin:0 -7.5px 25px;
						&.less-margin {
							margin:0 -7.5px 0px;
						}
						&:after {
							content:"";
							clear:both;
							display:block;
						}
						.width-80, .width-33, .width-100, .width-15, .width-20, .width-35, .width-45,
						.width-16 {
							padding:7.5px;
							float:left;
						}
						.width-15 {
							width:15%;
						}
						.width-16 {
							width:16%;
						}
						.width-20 {
							width:20%;
						}
						.width-33 {
							width:33.33%;
						}
						.width-35 {
							width:35%;
						}
						.width-45 {
							width:45%;
						}
						.width-80 {
							width:80%;
						}
						.width-100 {
							width:100%;
						}
						label {
							font-weight:400;
							color:#717171;
							display:block;
							&.checkbox {
								position:relative;
								padding-left:26px;
								user-select:none;
								cursor:pointer;
								&:hover input ~ .checkmark {
									//background-color:#ccc;
								}
								input[type=checkbox] {
									position: absolute;
									opacity: 0;
									cursor: pointer;
									height: 0;
									width: 0;
									&:checked ~ .checkmark {
										//background-color:#2196F3;
										border:1px solid #48A2EA;
										&:after {
											display:block;
										}
									}
								}
								.checkmark {
									position: absolute;
									top: 0;
									left: 0;
									height: 19px;
									width: 19px;
									background:#F8FDFF;
									border:1px solid #CFE1E6;
									border-radius:2px;
									cursor:pointer;
									&:after {
										content:"✔";
										position:absolute;
										display:none;
										left: 3px;
										top: -1px;
										width: 5px;
										height: 10px;
										color:#48A2EA;
									}
								}
							}
						}
						.selectric {
							background:#F8FDFF;
							width:100%;
							border:1px solid #CFE1E6;
							border-radius:2px;
							font-size:16px;
							color:#3B5163;
							.label {
								font-size:16px;
								color:#717171;
								text-align:left;
								font-weight:400;
								height:42px;
							}
							.button {
								background-color:unset;
								height:42px;
								width:42px;
							}
						}
						.selectric-items {
							background:#F8FDFF;
							border:1px solid #CFE1E6;
						}
						input, textarea {
							background:#F8FDFF;
							width:100%;
							border:1px solid #CFE1E6;
							border-radius:2px;
							padding:10px 20px;
							box-sizing:border-box;
							transition:all 0.3s ease;
							&:focus {
								border:1px solid #48A2EA;
							}
						}
						textarea {
							height:106px;
						}
					}
					ul.toggle {
						list-style:none;
						padding:0;
						margin:21px 0 45px;
						li {
							display:inline-block;
							margin-right:20px;
							color:#3B5163;
							font-size:16px;
							padding-bottom:5px;
							cursor:pointer;
							&.active {
								color:#48A2EA;
								border-bottom:1px solid #48A2EA;
							}
						}
					}
					div.toggle-results {
						position:relative;
						div.result {
							opacity:0;
							position:absolute;
							width:100%;
							transition:all 0.3s ease;
							&.active {
								opacity:1;
							}
						}
					}
				}
			}
		}
		div.top-actions {
			div.overlay-action {
				background:#fff;
				border-radius:4px;
				line-height:1.2;
				color:#717171;
				padding:20px 0 20px 74px;
				cursor:pointer;
				transition:all 0.3s ease;
				position:relative;
				&:before {
					color:#3B5163;
					transition:all 0.3s ease;
					font-family: 'Glyphter';
					position:absolute;
					left:0;
					top:50%;
					transform:translateY(-50%);
					width:74px;
					text-align:center;
					font-size:32px;
				}
				&:after {
					color:#3B5163;
					transition:all 0.3s ease;
					font-family: 'Glyphter';
					position:absolute;
					right:20px;
					top:50%;
					transform:translateY(-50%);
					font-size:16px;
					content:"\0061";
				}
				&.add-member {
					&:before {
						content:"\0057";
					}
				}
				&.add-hours {
					&:before {
						content:"\0062";
					}
				}
				&.message-team {
					&:before {
						content:"\0054";
						font-size:30px;
					}
				}
				&.add-event {
					&:before {
						content:"\004a";
						font-size:30px;
					}
				}
				&:hover {
					h4 {
						color:#48A2EA;
					}
					&:before {
						color:#48A2EA;
					}
					&:after {
						color:#48A2EA;
					}
				}
				h4 {
					font-size:18px;
					margin:0;
					transition:all 0.3s ease;
				}
				p {
					font-size:13px;
					margin:0;
				}
			}
		}
		div.page-content {
			margin-top:30px;
			.col-md-70 {
				width:70%;
				float:left;
				padding:0 15px;
			}
			.col-md-30 {
				width:30%;
				float:left;
				padding:0 15px;
			}
			div.white-box {
				&.local-contact-info {
					.more-actions {
						div.dropdown {
							width:196px;
							border-top:1px solid #E6E8EB;
							top:22px;
							right:-15px;
							padding:15px 25px;
						}
					}
					div.profile {
						border-left:1px solid rgba(255,255,255,0.08);
						float:left;
						position:relative;
						img.profile-pic {
							width:40px;
							height:40px;
							object-fit:cover;
							border-radius:50%;
							float:left;
							margin-right:10px;
						}
						div.person-info {
							float:left;
							p {
								line-height:1.2;
								color:#717171;
								margin:0;
								font-size:16px;
								&.verified {
									&:after {
										font-family: 'Glyphter';
										content:"\0051";
										color:#48A2EA;
										display:inline-block;
										margin-left:5px;
										font-size:12px;
									}
								}
								&.name {
									font-weight:700;
									color:#3B5163;
								}
								&.phone {
									margin-top:5px;
									position:relative;
									&:before {
										font-family: 'Glyphter';
										content:"\0059";
										display:inline-block;
										margin-right:5px;
										color:#3B5163;
										vertical-align: bottom;
									}
								}
								&.email {
									margin-top:5px;
									position:relative;
									&:before {
										font-family: 'Glyphter';
										content:"\0054";
										display:inline-block;
										margin-right:5px;
										color:#3B5163;
										vertical-align: bottom;
									}
								}
							}
							ul.social-media {
								list-style:none;
								margin:0;
								padding:0;
								li {
									display:inline-block;
									margin-right:10px;
									img {
										width:25px;
									}
								}
							}
						}
					}
				}
				&.team-members {
					div.team-members-header {
						border-bottom:1px solid #E8ECEF;
						padding:10px 35px;
						p {
							font-size:18px;
							color:#3B5163;
							margin:0;
							padding:8px 0;
							font-weight:600;
						}
						div {
							float:left;
							&.name {
								width:31%;
							}
							&.account {
								width:15%;
							}
							&.date-joined {
								width:18%;
							}
							&.phone-number {
								width:18%;
							}
							&.view-lists {
								width:18%;
								.blue-eye-button {
									width:136px;
									float:right;
									text-align:center;
									padding:8px;
								}
							}
						}
					}
					div.team-members-content {
						border-bottom:1px solid #E8ECEF;
						padding:0;
						//height:500px;
						background:#fff;
						div.team-members-container {
							padding:0 35px;
						}
						p {
							font-size:16px;
							color:#717171;
							margin:0;
							padding:8px 0;
						}
						div.team-member {
							border-top:1px solid #E8ECEF;
							padding:10px 0;
							&:first-child {
								border-top:0;
							}
							div {
								float:left;
								&.name {
									width:31%;
									img.avatar {
										width:40px;
										height:40px;
										object-fit:cover;
										border-radius:50%;
										float:left;
										margin-right:10px;
									}
									p {
										font-size:18px;
										color:#3B5163;
										font-weight:600;
										cursor:pointer;
									}
								}
								&.account {
									width:15%;
								}
								&.date-joined {
									width:18%;
								}
								&.phone-number {
									width:18%;
								}
								&.actions {
									width:18%;
									position:relative;
									a.send-message {
										color:#868686;
										font-weight:700;
										font-size:14px;
										display:block;
										padding:11px 0;
										&:before {
											font-family: 'Glyphter';
											content:"\0054";
											display:inline-block;
											vertical-align: middle;
    										margin-right: 8px;
										}
									}
									div.more-actions {
										height:16px;
										width:16px;
										position:absolute;
										right:0;
										top:50%;
										transform:translateY(-50%);
										cursor:pointer;
										margin-right:-4px;
										div.dropdown {
											width:196px;
											border-top:1px solid #E6E8EB;
											top:22px;
											right:-15px;
											padding:15px 25px;
										}
										span {
											width:4px;
											height:4px;
											background:#868686;
											border-radius:50%;
											position:absolute;
											top:50%;
											left:50%;
											transform:translateY(-50%) translateX(-50%);
											&:before {
												content:"";
												position:absolute;
												left:50%;
												transform:translateX(-50%);
												top:-6px;
												width:4px;
												height:4px;
												background:#868686;
												border-radius:50%;
											}
											&:after {
												content:"";
												position:absolute;
												left:50%;
												transform:translateX(-50%);
												bottom:-6px;
												width:4px;
												height:4px;
												background:#868686;
												border-radius:50%;
											}
										}
									}
								}
							}
						}
					}
					div.team-members-footer {
						padding:20px 35px;
						div.filters {
							float:left;
							padding:10px 0;
							p {
								font-size:15px;
								color:#717171;
								display:inline-block;
								margin:0 15px 0 0;
								&.title {
									font-style:italic;
								}
								&.filter {
									font-weight:600;
								}
							}
						}
						div.search {
							float:right;
							position:relative;
							&:after {
								font-family: 'Glyphter';
								position:absolute;
								content: "\004d";
								color:#48A2EA;
								right:15px;
								top:50%;
								transform:translateY(-50%);
							}
							label {
								font-size:15px;
								margin-right:15px;
								color:#717171;
								font-style:italic;
								display:inline-block;
								font-weight:400;
							}
							input[type=text] {
								display:inline-block;
								font-size:14px;
								border:1px solid #CFE1E6;
								border-radius:4px;
								padding:10px 50px 10px 20px;
								outline:0 !important;
								transition:all 0.3s ease;
								&:focus {
									border:1px solid #48A2EA;
								}
							}
						}
					}
				}
			}
		}
	}
}

p.test1 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0041";
		display:inline-block;
	}
}
p.test2 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0042";
		display:inline-block;
	}
}
p.test3 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0043";
		display:inline-block;
	}
}
p.test4 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0044";
		display:inline-block;
	}
}
p.test5 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0045";
		display:inline-block;
	}
}
p.test6 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0046";
		display:inline-block;
	}
}
p.test7 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0047";
		display:inline-block;
	}
}
p.test8 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0048";
		display:inline-block;
	}
}
p.test9 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0049";
		display:inline-block;
	}
}
p.test10 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\004a";
		display:inline-block;
	}
}
p.test11 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\004b";
		display:inline-block;
	}
}
p.test12 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\004c";
		display:inline-block;
	}
}
p.test13 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\004d";
		display:inline-block;
	}
}
p.test14 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\004e";
		display:inline-block;
	}
}
p.test15 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\004f";
		display:inline-block;
	}
}
p.test16 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0050";
		display:inline-block;
	}
}
p.test17 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0051";
		display:inline-block;
	}
}
p.test18 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0052";
		display:inline-block;
	}
}
p.test19 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0053";
		display:inline-block;
	}
}
p.test20 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0054";
		display:inline-block;
	}
}
p.test21 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0055";
		display:inline-block;
	}
}
p.test22 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0056";
		display:inline-block;
	}
}
p.test23 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0057";
		display:inline-block;
	}
}
p.test24 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0058";
		display:inline-block;
	}
}
p.test26 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0059";
		display:inline-block;
	}
}
p.test27 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\005a";
		display:inline-block;
	}
}
p.test28 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0061";
		display:inline-block;
	}
}
p.test29 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0062";
		display:inline-block;
	}
}
p.test30 {
	font-family: 'Glyphter';
	position:relative;
	&:before {
		content:"\0063";
		display:inline-block;
	}
}