body {
  font-family: din-2014, sans-serif;
  color: #233848; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

p, li {
  font-size: 16px;
  line-height: 1.5; }

a {
  color: #233848;
  text-decoration: none !important; }
  a:hover {
    color: #48A2EA; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  outline: 0; }

.fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.group:after {
  content: "";
  clear: both;
  display: block; }

.white-eye-button {
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  line-height: 1; }
  .white-eye-button span {
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
  .white-eye-button:before {
    font-family: 'Glyphter';
    position: relative;
    display: inline-block;
    font-size: 22px;
    content: "\0055";
    vertical-align: middle;
    margin-right: 5px; }
  .white-eye-button:hover {
    background: #fff;
    color: #3B5163; }

.blue-eye-button {
  border: 2px solid #48A2EA;
  border-radius: 3px;
  color: #48A2EA;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  line-height: 1; }
  .blue-eye-button span {
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
  .blue-eye-button:before {
    font-family: 'Glyphter';
    position: relative;
    display: inline-block;
    font-size: 22px;
    content: "\0055";
    vertical-align: middle;
    margin-right: 5px; }
  .blue-eye-button:hover {
    background: #48A2EA;
    color: #fff; }

.white-box {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 30px; }
  .white-box .white-box-header {
    height: 63.67px;
    border-bottom: 1px solid #E8ECEF;
    padding: 22px 35px;
    position: relative; }
    .white-box .white-box-header.small-header {
      height: unset;
      padding: 11px 35px; }
      .white-box .white-box-header.small-header h3 {
        font-size: 16px; }
    .white-box .white-box-header div.more-actions {
      height: 16px;
      width: 4px;
      position: absolute;
      right: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer; }
      .white-box .white-box-header div.more-actions span {
        width: 4px;
        height: 4px;
        background: #868686;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0; }
        .white-box .white-box-header div.more-actions span:before {
          content: "";
          position: absolute;
          left: 0;
          top: -6px;
          width: 4px;
          height: 4px;
          background: #868686;
          border-radius: 50%; }
        .white-box .white-box-header div.more-actions span:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -6px;
          width: 4px;
          height: 4px;
          background: #868686;
          border-radius: 50%; }
    .white-box .white-box-header h3 {
      font-size: 18px;
      margin: 0;
      color: #3B5163; }
  .white-box .white-box-content {
    padding: 25px 35px;
    position: relative; }

header {
  background: #233848;
  height: 70px; }
  header div.mark {
    padding: 0;
    background-color: unset;
    float: left;
    padding: 15px 30px; }
    header div.mark img {
      width: 62px;
      float: left;
      margin-right: 10px; }
    header div.mark p {
      margin: 6px 0 0;
      font-size: 18px;
      color: #FFFFFF;
      float: left; }
  header div.right {
    float: right;
    text-align: left;
    line-height: 1.5; }
    header div.right div.info {
      border-left: 1px solid rgba(255, 255, 255, 0.08);
      padding: 16px 60px 16px 20px;
      height: 70px;
      float: left;
      position: relative;
      cursor: pointer; }
      header div.right div.info:after {
        font-family: 'Glyphter';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
        right: 16px;
        content: "\005a";
        font-size: 14px;
        color: #fff; }
      header div.right div.info p {
        line-height: 1.2;
        margin: 0;
        color: #fff; }
        header div.right div.info p.location {
          font-size: 18px; }
        header div.right div.info p.dates {
          font-size: 13px; }
    header div.right div.notifications {
      border-left: 1px solid rgba(255, 255, 255, 0.08);
      padding: 16px 20px;
      height: 70px;
      float: left;
      position: relative;
      cursor: pointer; }
      header div.right div.notifications div.bell:before {
        font-family: 'Glyphter';
        content: "\0050";
        font-size: 24px;
        color: #fff;
        display: inline-block;
        vertical-align: middle; }
    header div.right div.profile {
      border-left: 1px solid rgba(255, 255, 255, 0.08);
      padding: 16px 66px 16px 20px;
      height: 70px;
      float: left;
      position: relative;
      padding-right: 100px;
      cursor: pointer; }
      header div.right div.profile:after {
        font-family: 'Glyphter';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
        right: 40px;
        content: "\005a";
        font-size: 14px;
        color: #fff; }
      header div.right div.profile img.profile-pic {
        width: 40px;
        height: 40px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
        float: left;
        margin-right: 10px; }
      header div.right div.profile div.person-info {
        float: left; }
        header div.right div.profile div.person-info p {
          line-height: 1.2;
          color: #fff;
          margin: 0; }
          header div.right div.profile div.person-info p.name {
            font-size: 18px;
            font-weight: 700; }
          header div.right div.profile div.person-info p.title {
            font-size: 13px; }

main.dash {
  position: relative;
  background: #3B5163; }
  main.dash section.side-bar {
    min-height: calc(100vh - 70px);
    width: 260px;
    background: #3B5163;
    float: left; }
    main.dash section.side-bar ul.navigation {
      list-style: none;
      margin: 0;
      padding: 0; }
      main.dash section.side-bar ul.navigation li {
        width: 100%;
        font-size: 18px; }
        main.dash section.side-bar ul.navigation li a {
          color: #fff;
          text-decoration: none;
          padding: 15px 0 15px 40px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          border-left: 5px solid #3B5163;
          background: #3B5163;
          width: 100%;
          display: block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          position: relative; }
          main.dash section.side-bar ul.navigation li a:before {
            font-family: 'Glyphter';
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 10px;
            font-size: 16px; }
          main.dash section.side-bar ul.navigation li a:after {
            font-family: 'Glyphter';
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 15px;
            content: "\005a";
            font-size: 10px; }
          main.dash section.side-bar ul.navigation li a.manage-campaign:before {
            content: "\0044"; }
          main.dash section.side-bar ul.navigation li a.edit-campaign:before {
            content: "\0052"; }
          main.dash section.side-bar ul.navigation li a.calendar:before {
            content: "\0046"; }
          main.dash section.side-bar ul.navigation li a.resources:before {
            content: "\0047"; }
          main.dash section.side-bar ul.navigation li a:hover {
            border-left: 5px solid #fff;
            background: #7BB0D8; }
    main.dash section.side-bar .white-eye-button {
      width: 228px;
      margin: 30px auto 0;
      text-align: center;
      font-size: 15px; }
  main.dash section.main-content {
    min-height: calc(100vh - 70px);
    width: calc(100% - 260px);
    background: #F0F0F0;
    float: right;
    padding: 45px 65px;
    border-top: 1px solid #707070; }
    main.dash section.main-content div.top-actions div.action {
      background: #fff;
      border-radius: 4px;
      line-height: 1.2;
      color: #717171;
      padding: 20px 0 20px 74px;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: relative; }
      main.dash section.main-content div.top-actions div.action:before {
        color: #3B5163;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: 'Glyphter';
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 74px;
        text-align: center;
        font-size: 32px; }
      main.dash section.main-content div.top-actions div.action:after {
        color: #3B5163;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: 'Glyphter';
        position: absolute;
        right: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 16px;
        content: "\0061"; }
      main.dash section.main-content div.top-actions div.action.add-member:before {
        content: "\0057"; }
      main.dash section.main-content div.top-actions div.action.add-hours:before {
        content: "\0062"; }
      main.dash section.main-content div.top-actions div.action.message-team:before {
        content: "\0054";
        font-size: 30px; }
      main.dash section.main-content div.top-actions div.action.add-event:before {
        content: "\004a";
        font-size: 30px; }
      main.dash section.main-content div.top-actions div.action:hover h4 {
        color: #48A2EA; }
      main.dash section.main-content div.top-actions div.action:hover:before {
        color: #48A2EA; }
      main.dash section.main-content div.top-actions div.action:hover:after {
        color: #48A2EA; }
      main.dash section.main-content div.top-actions div.action h4 {
        font-size: 18px;
        margin: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      main.dash section.main-content div.top-actions div.action p {
        font-size: 13px;
        margin: 0; }
    main.dash section.main-content div.page-content {
      margin-top: 30px; }
      main.dash section.main-content div.page-content .col-md-70 {
        width: 70%;
        float: left;
        padding: 0 15px; }
      main.dash section.main-content div.page-content .col-md-30 {
        width: 30%;
        float: left;
        padding: 0 15px; }
      main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile {
        border-left: 1px solid rgba(255, 255, 255, 0.08);
        float: left;
        position: relative; }
        main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile img.profile-pic {
          width: 40px;
          height: 40px;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 50%;
          float: left;
          margin-right: 10px; }
        main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info {
          float: left; }
          main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p {
            line-height: 1.2;
            color: #717171;
            margin: 0;
            font-size: 16px; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.verified:after {
              font-family: 'Glyphter';
              content: "\0051";
              color: #48A2EA;
              display: inline-block;
              margin-left: 5px;
              font-size: 12px; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.name {
              font-weight: 700;
              color: #3B5163; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.phone {
              margin-top: 5px;
              position: relative; }
              main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.phone:before {
                font-family: 'Glyphter';
                content: "\0059";
                display: inline-block;
                margin-right: 5px;
                color: #3B5163;
                vertical-align: bottom; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.email {
              margin-top: 5px;
              position: relative; }
              main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.email:before {
                font-family: 'Glyphter';
                content: "\0054";
                display: inline-block;
                margin-right: 5px;
                color: #3B5163;
                vertical-align: bottom; }
          main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info ul.social-media {
            list-style: none;
            margin: 0;
            padding: 0; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info ul.social-media li {
              display: inline-block;
              margin-right: 10px; }
              main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info ul.social-media li img {
                width: 25px; }
      main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header {
        border-bottom: 1px solid #E8ECEF;
        padding: 10px 35px; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header p {
          font-size: 18px;
          color: #3B5163;
          margin: 0;
          padding: 8px 0;
          font-weight: 600; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div {
          float: left; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.name {
            width: 31%; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.account {
            width: 15%; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.date-joined {
            width: 18%; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.phone-number {
            width: 18%; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.view-lists {
            width: 18%; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.view-lists .blue-eye-button {
              width: 136px;
              float: right;
              text-align: center;
              padding: 8px; }
      main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content {
        border-bottom: 1px solid #E8ECEF;
        padding: 0;
        height: 500px;
        background: #fff; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-members-container {
          padding: 0 35px; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content p {
          font-size: 16px;
          color: #717171;
          margin: 0;
          padding: 8px 0; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member {
          border-top: 1px solid #E8ECEF;
          padding: 10px 0; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member:first-child {
            border-top: 0; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div {
            float: left; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.name {
              width: 31%; }
              main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.name img.avatar {
                width: 40px;
                height: 40px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
                float: left;
                margin-right: 10px; }
              main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.name p {
                font-size: 18px;
                color: #3B5163;
                font-weight: 600; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.account {
              width: 15%; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.date-joined {
              width: 18%; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.phone-number {
              width: 18%; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions {
              width: 18%;
              position: relative; }
              main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions a.send-message {
                color: #868686;
                font-weight: 700;
                font-size: 14px;
                display: block;
                padding: 11px 0; }
                main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions a.send-message:before {
                  font-family: 'Glyphter';
                  content: "\0054";
                  display: inline-block;
                  vertical-align: middle;
                  margin-right: 8px; }
              main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions div.more-actions {
                height: 16px;
                width: 4px;
                position: absolute;
                right: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer; }
                main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions div.more-actions span {
                  width: 4px;
                  height: 4px;
                  background: #868686;
                  border-radius: 50%;
                  position: absolute;
                  top: 50%;
                  -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
                  left: 0; }
                  main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions div.more-actions span:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: -6px;
                    width: 4px;
                    height: 4px;
                    background: #868686;
                    border-radius: 50%; }
                  main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions div.more-actions span:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                    width: 4px;
                    height: 4px;
                    background: #868686;
                    border-radius: 50%; }
      main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer {
        padding: 20px 35px; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.filters {
          float: left;
          padding: 10px 0; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.filters p {
            font-size: 15px;
            color: #717171;
            display: inline-block;
            margin: 0 15px 0 0; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.filters p.title {
              font-style: italic; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.filters p.filter {
              font-weight: 600; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search {
          float: right;
          position: relative; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search:after {
            font-family: 'Glyphter';
            position: absolute;
            content: "\004d";
            color: #48A2EA;
            right: 15px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search label {
            font-size: 15px;
            margin-right: 15px;
            color: #717171;
            font-style: italic;
            display: inline-block;
            font-weight: 400; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search input[type=text] {
            display: inline-block;
            font-size: 14px;
            border: 1px solid #CFE1E6;
            border-radius: 4px;
            padding: 10px 50px 10px 20px;
            outline: 0 !important;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search input[type=text]:focus {
              border: 1px solid #48A2EA; }

p.test1 {
  font-family: 'Glyphter';
  position: relative; }
  p.test1:before {
    content: "\0041";
    display: inline-block; }

p.test2 {
  font-family: 'Glyphter';
  position: relative; }
  p.test2:before {
    content: "\0042";
    display: inline-block; }

p.test3 {
  font-family: 'Glyphter';
  position: relative; }
  p.test3:before {
    content: "\0043";
    display: inline-block; }

p.test4 {
  font-family: 'Glyphter';
  position: relative; }
  p.test4:before {
    content: "\0044";
    display: inline-block; }

p.test5 {
  font-family: 'Glyphter';
  position: relative; }
  p.test5:before {
    content: "\0045";
    display: inline-block; }

p.test6 {
  font-family: 'Glyphter';
  position: relative; }
  p.test6:before {
    content: "\0046";
    display: inline-block; }

p.test7 {
  font-family: 'Glyphter';
  position: relative; }
  p.test7:before {
    content: "\0047";
    display: inline-block; }

p.test8 {
  font-family: 'Glyphter';
  position: relative; }
  p.test8:before {
    content: "\0048";
    display: inline-block; }

p.test9 {
  font-family: 'Glyphter';
  position: relative; }
  p.test9:before {
    content: "\0049";
    display: inline-block; }

p.test10 {
  font-family: 'Glyphter';
  position: relative; }
  p.test10:before {
    content: "\004a";
    display: inline-block; }

p.test11 {
  font-family: 'Glyphter';
  position: relative; }
  p.test11:before {
    content: "\004b";
    display: inline-block; }

p.test12 {
  font-family: 'Glyphter';
  position: relative; }
  p.test12:before {
    content: "\004c";
    display: inline-block; }

p.test13 {
  font-family: 'Glyphter';
  position: relative; }
  p.test13:before {
    content: "\004d";
    display: inline-block; }

p.test14 {
  font-family: 'Glyphter';
  position: relative; }
  p.test14:before {
    content: "\004e";
    display: inline-block; }

p.test15 {
  font-family: 'Glyphter';
  position: relative; }
  p.test15:before {
    content: "\004f";
    display: inline-block; }

p.test16 {
  font-family: 'Glyphter';
  position: relative; }
  p.test16:before {
    content: "\0050";
    display: inline-block; }

p.test17 {
  font-family: 'Glyphter';
  position: relative; }
  p.test17:before {
    content: "\0051";
    display: inline-block; }

p.test18 {
  font-family: 'Glyphter';
  position: relative; }
  p.test18:before {
    content: "\0052";
    display: inline-block; }

p.test19 {
  font-family: 'Glyphter';
  position: relative; }
  p.test19:before {
    content: "\0053";
    display: inline-block; }

p.test20 {
  font-family: 'Glyphter';
  position: relative; }
  p.test20:before {
    content: "\0054";
    display: inline-block; }

p.test21 {
  font-family: 'Glyphter';
  position: relative; }
  p.test21:before {
    content: "\0055";
    display: inline-block; }

p.test22 {
  font-family: 'Glyphter';
  position: relative; }
  p.test22:before {
    content: "\0056";
    display: inline-block; }

p.test23 {
  font-family: 'Glyphter';
  position: relative; }
  p.test23:before {
    content: "\0057";
    display: inline-block; }

p.test24 {
  font-family: 'Glyphter';
  position: relative; }
  p.test24:before {
    content: "\0058";
    display: inline-block; }

p.test26 {
  font-family: 'Glyphter';
  position: relative; }
  p.test26:before {
    content: "\0059";
    display: inline-block; }

p.test27 {
  font-family: 'Glyphter';
  position: relative; }
  p.test27:before {
    content: "\005a";
    display: inline-block; }

p.test28 {
  font-family: 'Glyphter';
  position: relative; }
  p.test28:before {
    content: "\0061";
    display: inline-block; }

p.test29 {
  font-family: 'Glyphter';
  position: relative; }
  p.test29:before {
    content: "\0062";
    display: inline-block; }

p.test30 {
  font-family: 'Glyphter';
  position: relative; }
  p.test30:before {
    content: "\0063";
    display: inline-block; }
