body {
	font-family: din-2014, sans-serif;
	color:#233848;
}

h1 {
	font-size:60px;
}

h2 {
	font-size:40px;
}

h3 {
	font-size:32px;
}

h4 {
	font-size:24px;
}

p, li {
	font-size:16px;
	line-height:1.8;
}

a {
	color:#233848;
	text-decoration:none !important;
	&:hover {
		color:#48A2EA;
	}
}

input[type=text], input[type=password], input[type=email] {
	&:focus {
		outline:0;
	}
}

.fill {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	object-fit:cover;
}

.group {
	&:after {
		content:"";
		clear:both;
		display:block;
	}
}

.blue-button {
	background:#48A2EA;
	font-size:18px;
	text-transform:uppercase;
	color:#FAFAFA;
	text-align:center;
	-webkit-appearance:none;
	border-radius:0;
	padding:14px 0;
	width:222px;
	transition:all 0.3s ease;
	font-weight:600;
	cursor:pointer;
	border:2px solid #48A2EA;
	&:hover {
		background:darken(#48A2EA, 5%);
		border:2px solid darken(#48A2EA, 5%);
	}
}


.blue-outline-button {
	background:unset;
	font-size:18px;
	text-transform:uppercase;
	color:#48A2EA;
	border:2px solid #48A2EA;
	text-align:center;
	-webkit-appearance:none;
	border-radius:0;
	padding:14px 0;
	width:222px;
	transition:all 0.3s ease;
	font-weight:600;
	cursor:pointer;
	&:hover {
		background:#48A2EA;
		color:#fff;
	}
}

.white-outline-button {
	background:unset;
	font-size:18px;
	text-transform:uppercase;
	color:#FAFAFA;
	border:2px solid #FAFAFA;
	text-align:center;
	-webkit-appearance:none;
	border-radius:0;
	padding:14px 0;
	width:222px;
	transition:all 0.3s ease;
	font-weight:600;
	cursor:pointer;
	&:hover {
		background:#48A2EA;
	}
}

header {
	background:#fff;
	div.logo {
		padding:30px 35px;
		width:410px;
		float:left;
		img {
			max-width:100%;
		}
	}
	div.header-right {
		float:right;
		width:calc(100% - 410px);
		div.top {
			padding:20px 35px 20px 0;
			ul.top-links {
				float:right;
				list-style:none;
				margin-left:60px;
				padding:0;
				font-weight:600;
				li {
					display:inline-block;
					text-transform:uppercase;
					&:before {
						content:"|";
						margin-right:15px;
						margin-left:15px;
						display:inline-block;
					}
					&:first-child:before {
						display:none;
					}
				}
			}
			ul.top-social {
				float:right;
				list-style:none;
				margin-left:60px;
				padding:0;
				li {
					display:inline-block;
					margin-left:15px;
					img {
						width:18px;
						height:18px;
						object-fit:contain;
					}
				}
			}
			div.top-search {
				float:right;
				position:relative;
				margin-top:-2px;
				&:after {
					content:"";
					background:url(assets/images/icons/search.svg) center no-repeat;
					width:16px;
					height:15px;
					position:absolute;
					right:10px;
					top:50%;
					transform:translateY(-50%);
					z-index:10;
					background-size:contain;
				}
				input {
					color:#233848;
					padding:5px 30px 5px 10px;
					background:#FAFAFA;
					border:0;
					-webkit-appearance:none;
					border-radius:0;
				}
			}
		}
		div.bottom {
			padding:0 35px 0 0;
			div.right-links {
				float:right;
				padding:0 0 15px;
				.blue-outline-button {
					display:inline-block;
					margin-left:30px;
				}
				p.donate-button {
					padding:14px;
					text-transform:uppercase;
					color:#233848;
					font-weight:600;
					display:inline-block;
					margin:0;
				}
			}
			div.navigation {
				float:left;
				padding-left:100px;
				ul {
					list-style:none;
					margin:0;
					padding:0;
					li {
						font-weight:600;
						display:inline-block;
						margin-right:60px;
						padding:18px 0 25px;
						border-bottom:7px solid #fff;
						transition:all 0.3s ease;
						text-transform:uppercase;
						&:hover {
							border-bottom:7px solid #48A2EA;
							a {
								color:#48A2EA;
							}
						}
						a {
							transition:all 0.3s ease;
						}
					}
				}
			}
		}
	}
}

section.s1-home {
	*:focus {
		outline:0 !important;
	}
	div.single-1 {
		background:url(assets/images/home/home-hero.jpg) center no-repeat;
		background-size:cover;
		width:100%;
		padding-bottom:52%;
		position:relative;
		div.text {
			position:absolute;
			left:10%;
			top:50%;
			transform:translateY(-50%);
			width:40%;
			p {
				color:#FFFFFF;
				font-size:64px;
				text-shadow: 3px 3px 6px rgba(0,0,0,0.16);
				line-height:1.3;
			}
			.blue-button {
				margin-top:60px;
			}
		}
	}
}

section.s2-home {
	color:#fff;
	div.left {
		width:50%;
		float:left;
		background:#233848;
		height:230px;
		position:relative;
		div.text {
			width:50%;
			float:left;
			position:absolute;
			left:60px;
			top:50%;
			transform:translateY(-50%);
			h3 {
				text-transform:uppercase;
			}
		}
		.blue-button {
			float:right;
			position:absolute;
			right:60px;
			top:50%;
			transform:translateY(-50%);
		}
	}
	div.right {
		width:50%;
		float:right;
		background:#3B5163;
		height:230px;
		padding:60px;
		color:#fff;
		div.stat {
			width:33.33%;
			float:left;
			h1 {
				font-size:56px;
				font-weight:600;
				margin-top:0;
			}
			p {
				font-size:18px;
				text-transform:uppercase;
				width:145px;
			}
		}
	}
}

section.s3-home {
	padding:184px 7%;
	.row {
		margin:0 -50px;
	}
	.col-md-4 {
		padding:50px;
	}
	p.title {
		color:#4C4C4C;
		font-size:18px;
		font-weight:600;
		text-transform:uppercase;
		padding-bottom:2px;
		border-bottom:2px solid #48A2EA;
		display:inline-block;
		margin-bottom:50px;
	}
	div.image-container {
		width:100%;
		padding-bottom:100%;
		position:relative;
		img {
			position:absolute;
			height:100%;
			width:85%;
			left:0;
			top:0;
			object-fit:cover;
		}
		.blue-button {
			position:absolute;
			right:0;
			bottom:0;
			width:165px;
			padding:50px 0;
		}
	}
	h3 {
		margin-top:50px;
		margin-bottom:0;
	}
}

section.s4-home {
	padding:0px 7% 280px;
	.row {
		margin:0 -40px;
		position:relative;
	}
	.col-md-7, .col-md-5 {
		padding:0 40px;
	}
	div.image-container {
		width:100%;
		padding-bottom:31vw;
		position:relative;
	}
	div.button-container {
		padding-top:1.5vw;
		&:first-child {
			padding-top:0;
		}
	}
	.blue-outline-button {
		text-align:left;
		width:100%;
		height:6.63vw;
		position:relative;
		padding:0;
		&:after {
			content:">";
			position:absolute;
			right:30px;
			top:50%;
			transform:translateY(-50%);
			font-size:24px;
			font-weight:400;
		}
		p {
			margin:0;
			position:absolute;
			left:30px;
			top:50%;
			transform:translateY(-50%);
			font-size:18px;
			font-weight:400;
		}
	}
}

section.s5-home {
	padding:0 10% 250px;
	.row {
		margin:0 -50px;
		position:relative;
	}
	.col-md-4 {
		padding:0 50px;
	}
	h1 {
		margin-top:0;
		margin-bottom:60px;
		float:left;
	}
	div.arrow-button {
		width:49px;
		height:49px;
		border:2px solid #48A2EA;
		text-align:center;
		color:#48A2EA;
		font-size:29px;
		float:left;
		line-height:1.6;
		margin-top:10px;
		margin-left:30px;
		transition:all 0.3s ease;
		cursor:pointer;
		&:hover {
			color:#fff;
			background:#48A2EA;
		}
	}
	h3 {
		position:relative;
		margin-bottom:50px;
		margin-top:0;
		text-transform:uppercase;
		&:after {
			content:"";
			position:absolute;
			width:145px;
			height:2px;
			background:#48A2EA;
			left:0;
			bottom:-15px;
		}
	}
}

section.s6-home {
	color:#fff;
	div.left {
		width:40%;
		float:left;
		background:#3B5163;
		height:230px;
		position:relative;
		text-align:right;
		div.text {
			position:absolute;
			right:60px;
			top:50%;
			transform:translateY(-50%);
		}
	}
	div.right {
		width:60%;
		float:right;
		background:#233848;
		height:230px;
		position:relative;
		div.text {
			position:absolute;
			left:60px;
			top:50%;
			transform:translateY(-50%);
			width:45%;
		}
		.white-outline-button {
			position:absolute;
			left:calc(55% + 60px);
			top:50%;
			transform:translateY(-50%);
			&:hover {
				color:#233848;
				background:#fff;
			}
		}
	}
}

section.s7-home {
	height:800px;
	position:relative;
	iframe {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
	}
}

section.s8-home {
	width:100%;
	padding-bottom:48%;
	position:relative;
	div.cover {
		background:#3B5163;
		opacity:0.85;
	}
	div.text {
		position:absolute;
		top:50%;
		left:50%;
		transform:translateY(-50%) translateX(-50%);
		width:50%;
		text-align:center;
		color:#fff;
		.blue-button {
			margin:60px auto 0;
		}
	}
}

section.s9-home {
	padding:230px 0 230px 15%;
	overflow:hidden;
	div.left {
		width:35%;
		float:left;
		*:focus {
			outline:0;
		}
		h1 {
			width:330px;
			margin-bottom:50px;
			margin-top:0;
		}
		p.quote-author {
			text-transform:uppercase;
			color:#4C4C4C;
			font-weight:600;
			margin-top:30px;
			margin-bottom:0;
		}
		p.author-title {
			color:#4C4C4C;
			font-weight:600;
			margin:0;
		}
	}
	div.right {
		width:65%;
		float:right;
		transform:translateX(12.5%);
		*:focus {
			outline:0;
		}
		div.image-container {
			position:relative;
			width:100%;
			padding-bottom:100%;
			opacity:0.3;
			transition:all 0.3s ease;
			cursor:pointer;
		}
		div.slick-current {
			div.image-container {
				opacity:1;
			}
		}
		ul.slick-dots {
			list-style:none;
			padding:0;
			margin-top:45px;
			li {
				font-size:0;
				display:inline-block;
				margin-right:30px;
				button {
					margin:0;
					padding:0;
					border:0;
					width:6px;
					height:6px;
					border-radius:50%;
					background:#DDDDDD;
					transition:all 0.3s ease;
				}
				&.slick-active {
					button {
						transform:scale(2);
					}
				}
			}
		}
	}
}

section.s10-home {
	div.text {
		width:100%;
		text-align:center;
		position:absolute;
		left:0;
		top:50%;
		transform:translateY(-50%);
		color:#fff;
		p {
			text-transform:uppercase;
			margin-bottom:10px;
			margin-top:0;
		}
		h2 {
			text-transform:uppercase;
			margin-bottom:0;
			margin-top:0;
		}
	}
	div.left {
		width:50%;
		float:left;
		background:#3B5163;
		height:230px;
		position:relative;
		transition:all 0.3s ease;
		cursor:pointer;
		border-right:1px solid #233848;
		&:hover {
			background:#48A2EA;
		}
	}
	div.right {
		width:50%;
		float:right;
		background:#3B5163;
		height:230px;
		position:relative;
		transition:all 0.3s ease;
		cursor:pointer;
		&:hover {
			background:#48A2EA;
		}
	}
}

footer {
	div.top-footer {
		background:#233848;
		padding:60px;
		color:#fff;
		div.left {
			width:45%;
			float:left;
			div.logo {
				width:292px;
				float:left;
				margin-top:42px;
				img {
					max-width:100%;
				}
			}
			div.text {
				width:40%;
				float:right;
				.white-outline-button {
					margin-bottom:5px;
					&:hover {
						color:#233848;
						background:#fff;
					}
				}
			}
		}
		div.right {
			width:40%;
			float:right;
			margin-top:30px;
			p.heading {
				font-weight:600;
				text-transform:uppercase;
			}
			p {
				font-weight:600;
				line-height:1.5;
			}
			div.social {
				width:50%;
				float:left;
				ul {
					list-style:none;
					padding:0;
					margin:0;
					li {
						display:inline-block;
						margin-right:10px;
					}
				}
			}
			div.contact {
				width:40%;
				float:right;
			}
		}
	}
	div.bottom-footer {
		position:relative;
		padding:10px 75px;
		p {
			color:#4C4C4C;
			font-weight:600;
			margin:0;
		}
		div.arrow-up {
			background:#48A2EA;
			width:55px;
			position:absolute;
			right:20%;
			bottom:0;
			padding:12px;
			img {
				max-width:100%;
			}
		}
	}
}