@charset "UTF-8";
body {
  font-family: din-2014, sans-serif;
  color: #233848; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

p, li {
  font-size: 16px;
  line-height: 1.8; }

a {
  color: #233848;
  text-decoration: none !important; }
  a:hover {
    color: #48A2EA; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  outline: 0; }

.fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.group:after {
  content: "";
  clear: both;
  display: block; }

.blue-button {
  background: #48A2EA;
  font-size: 18px;
  text-transform: uppercase;
  color: #FAFAFA;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 14px 0;
  width: 222px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #48A2EA; }
  .blue-button:hover {
    background: #3196e7;
    border: 2px solid #3196e7; }

.blue-outline-button {
  background: unset;
  font-size: 18px;
  text-transform: uppercase;
  color: #48A2EA;
  border: 2px solid #48A2EA;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 14px 0;
  width: 222px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  cursor: pointer; }
  .blue-outline-button:hover {
    background: #48A2EA;
    color: #fff; }

.white-outline-button {
  background: unset;
  font-size: 18px;
  text-transform: uppercase;
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 14px 0;
  width: 222px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  cursor: pointer; }
  .white-outline-button:hover {
    background: #48A2EA; }

header {
  background: #fff; }
  header div.logo {
    padding: 30px 35px;
    width: 410px;
    float: left; }
    header div.logo img {
      max-width: 100%; }
  header div.header-right {
    float: right;
    width: calc(100% - 410px); }
    header div.header-right div.top {
      padding: 20px 35px 20px 0; }
      header div.header-right div.top ul.top-links {
        float: right;
        list-style: none;
        margin-left: 60px;
        padding: 0;
        font-weight: 600; }
        header div.header-right div.top ul.top-links li {
          display: inline-block;
          text-transform: uppercase; }
          header div.header-right div.top ul.top-links li:before {
            content: "|";
            margin-right: 15px;
            margin-left: 15px;
            display: inline-block; }
          header div.header-right div.top ul.top-links li:first-child:before {
            display: none; }
      header div.header-right div.top ul.top-social {
        float: right;
        list-style: none;
        margin-left: 60px;
        padding: 0; }
        header div.header-right div.top ul.top-social li {
          display: inline-block;
          margin-left: 15px; }
          header div.header-right div.top ul.top-social li img {
            width: 18px;
            height: 18px;
            -o-object-fit: contain;
            object-fit: contain; }
      header div.header-right div.top div.top-search {
        float: right;
        position: relative;
        margin-top: -2px; }
        header div.header-right div.top div.top-search:after {
          content: "";
          background: url(assets/images/icons/search.svg) center no-repeat;
          width: 16px;
          height: 15px;
          position: absolute;
          right: 10px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          z-index: 10;
          background-size: contain; }
        header div.header-right div.top div.top-search input {
          color: #233848;
          padding: 5px 30px 5px 10px;
          background: #FAFAFA;
          border: 0;
          -webkit-appearance: none;
          border-radius: 0; }
    header div.header-right div.bottom {
      padding: 0 35px 0 0; }
      header div.header-right div.bottom div.right-links {
        float: right;
        padding: 0 0 15px; }
        header div.header-right div.bottom div.right-links .blue-outline-button {
          display: inline-block;
          margin-left: 30px; }
        header div.header-right div.bottom div.right-links p.donate-button {
          padding: 14px;
          text-transform: uppercase;
          color: #233848;
          font-weight: 600;
          display: inline-block;
          margin: 0; }
      header div.header-right div.bottom div.navigation {
        float: left;
        padding-left: 100px; }
        header div.header-right div.bottom div.navigation ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          header div.header-right div.bottom div.navigation ul li {
            font-weight: 600;
            display: inline-block;
            margin-right: 60px;
            padding: 18px 0 25px;
            border-bottom: 7px solid #fff;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            text-transform: uppercase; }
            header div.header-right div.bottom div.navigation ul li:hover {
              border-bottom: 7px solid #48A2EA; }
              header div.header-right div.bottom div.navigation ul li:hover a {
                color: #48A2EA; }
            header div.header-right div.bottom div.navigation ul li a {
              -webkit-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease; }

section.s1-home *:focus {
  outline: 0 !important; }

section.s1-home div.single-1 {
  background: url(assets/images/home/home-hero.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 52%;
  position: relative; }
  section.s1-home div.single-1 div.text {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%; }
    section.s1-home div.single-1 div.text p {
      color: #FFFFFF;
      font-size: 64px;
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
      line-height: 1.3; }
    section.s1-home div.single-1 div.text .blue-button {
      margin-top: 60px; }

section.s2-home {
  color: #fff; }
  section.s2-home div.left {
    width: 50%;
    float: left;
    background: #233848;
    height: 230px;
    position: relative; }
    section.s2-home div.left div.text {
      width: 50%;
      float: left;
      position: absolute;
      left: 60px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      section.s2-home div.left div.text h3 {
        text-transform: uppercase; }
    section.s2-home div.left .blue-button {
      float: right;
      position: absolute;
      right: 60px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  section.s2-home div.right {
    width: 50%;
    float: right;
    background: #3B5163;
    height: 230px;
    padding: 60px;
    color: #fff; }
    section.s2-home div.right div.stat {
      width: 33.33%;
      float: left; }
      section.s2-home div.right div.stat h1 {
        font-size: 56px;
        font-weight: 600;
        margin-top: 0; }
      section.s2-home div.right div.stat p {
        font-size: 18px;
        text-transform: uppercase;
        width: 145px; }

section.s3-home {
  padding: 184px 7%; }
  section.s3-home .row {
    margin: 0 -50px; }
  section.s3-home .col-md-4 {
    padding: 50px; }
  section.s3-home p.title {
    color: #4C4C4C;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 2px solid #48A2EA;
    display: inline-block;
    margin-bottom: 50px; }
  section.s3-home div.image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative; }
    section.s3-home div.image-container img {
      position: absolute;
      height: 100%;
      width: 85%;
      left: 0;
      top: 0;
      -o-object-fit: cover;
      object-fit: cover; }
    section.s3-home div.image-container .blue-button {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 165px;
      padding: 50px 0; }
  section.s3-home h3 {
    margin-top: 50px;
    margin-bottom: 0; }

section.s4-home {
  padding: 0px 7% 280px; }
  section.s4-home .row {
    margin: 0 -40px;
    position: relative; }
  section.s4-home .col-md-7, section.s4-home .col-md-5 {
    padding: 0 40px; }
  section.s4-home div.image-container {
    width: 100%;
    padding-bottom: 31vw;
    position: relative; }
  section.s4-home div.button-container {
    padding-top: 1.5vw; }
    section.s4-home div.button-container:first-child {
      padding-top: 0; }
  section.s4-home .blue-outline-button {
    text-align: left;
    width: 100%;
    height: 6.63vw;
    position: relative;
    padding: 0; }
    section.s4-home .blue-outline-button:after {
      content: ">";
      position: absolute;
      right: 30px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 24px;
      font-weight: 400; }
    section.s4-home .blue-outline-button p {
      margin: 0;
      position: absolute;
      left: 30px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 18px;
      font-weight: 400; }

section.s5-home {
  padding: 0 10% 250px; }
  section.s5-home .row {
    margin: 0 -50px;
    position: relative; }
  section.s5-home .col-md-4 {
    padding: 0 50px; }
  section.s5-home h1 {
    margin-top: 0;
    margin-bottom: 60px;
    float: left; }
  section.s5-home div.arrow-button {
    width: 49px;
    height: 49px;
    border: 2px solid #48A2EA;
    text-align: center;
    color: #48A2EA;
    font-size: 29px;
    float: left;
    line-height: 1.6;
    margin-top: 10px;
    margin-left: 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer; }
    section.s5-home div.arrow-button:hover {
      color: #fff;
      background: #48A2EA; }
  section.s5-home h3 {
    position: relative;
    margin-bottom: 50px;
    margin-top: 0;
    text-transform: uppercase; }
    section.s5-home h3:after {
      content: "";
      position: absolute;
      width: 145px;
      height: 2px;
      background: #48A2EA;
      left: 0;
      bottom: -15px; }

section.s6-home {
  color: #fff; }
  section.s6-home div.left {
    width: 40%;
    float: left;
    background: #3B5163;
    height: 230px;
    position: relative;
    text-align: right; }
    section.s6-home div.left div.text {
      position: absolute;
      right: 60px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  section.s6-home div.right {
    width: 60%;
    float: right;
    background: #233848;
    height: 230px;
    position: relative; }
    section.s6-home div.right div.text {
      position: absolute;
      left: 60px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 45%; }
    section.s6-home div.right .white-outline-button {
      position: absolute;
      left: calc(55% + 60px);
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      section.s6-home div.right .white-outline-button:hover {
        color: #233848;
        background: #fff; }

section.s7-home {
  height: 800px;
  position: relative; }
  section.s7-home iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

section.s8-home {
  width: 100%;
  padding-bottom: 48%;
  position: relative; }
  section.s8-home div.cover {
    background: #3B5163;
    opacity: 0.85; }
  section.s8-home div.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 50%;
    text-align: center;
    color: #fff; }
    section.s8-home div.text .blue-button {
      margin: 60px auto 0; }

section.s9-home {
  padding: 230px 0 230px 15%;
  overflow: hidden; }
  section.s9-home div.left {
    width: 35%;
    float: left; }
    section.s9-home div.left *:focus {
      outline: 0; }
    section.s9-home div.left h1 {
      width: 330px;
      margin-bottom: 50px;
      margin-top: 0; }
    section.s9-home div.left p.quote-author {
      text-transform: uppercase;
      color: #4C4C4C;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 0; }
    section.s9-home div.left p.author-title {
      color: #4C4C4C;
      font-weight: 600;
      margin: 0; }
  section.s9-home div.right {
    width: 65%;
    float: right;
    -webkit-transform: translateX(12.5%);
    -ms-transform: translateX(12.5%);
    transform: translateX(12.5%); }
    section.s9-home div.right *:focus {
      outline: 0; }
    section.s9-home div.right div.image-container {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      opacity: 0.3;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer; }
    section.s9-home div.right div.slick-current div.image-container {
      opacity: 1; }
    section.s9-home div.right ul.slick-dots {
      list-style: none;
      padding: 0;
      margin-top: 45px; }
      section.s9-home div.right ul.slick-dots li {
        font-size: 0;
        display: inline-block;
        margin-right: 30px; }
        section.s9-home div.right ul.slick-dots li button {
          margin: 0;
          padding: 0;
          border: 0;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #DDDDDD;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        section.s9-home div.right ul.slick-dots li.slick-active button {
          -webkit-transform: scale(2);
          -ms-transform: scale(2);
          transform: scale(2); }

section.s10-home div.text {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff; }
  section.s10-home div.text p {
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0; }
  section.s10-home div.text h2 {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0; }

section.s10-home div.left {
  width: 50%;
  float: left;
  background: #3B5163;
  height: 230px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border-right: 1px solid #233848; }
  section.s10-home div.left:hover {
    background: #48A2EA; }

section.s10-home div.right {
  width: 50%;
  float: right;
  background: #3B5163;
  height: 230px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer; }
  section.s10-home div.right:hover {
    background: #48A2EA; }

footer div.top-footer {
  background: #233848;
  padding: 60px;
  color: #fff; }
  footer div.top-footer div.left {
    width: 45%;
    float: left; }
    footer div.top-footer div.left div.logo {
      width: 292px;
      float: left;
      margin-top: 42px; }
      footer div.top-footer div.left div.logo img {
        max-width: 100%; }
    footer div.top-footer div.left div.text {
      width: 40%;
      float: right; }
      footer div.top-footer div.left div.text .white-outline-button {
        margin-bottom: 5px; }
        footer div.top-footer div.left div.text .white-outline-button:hover {
          color: #233848;
          background: #fff; }
  footer div.top-footer div.right {
    width: 40%;
    float: right;
    margin-top: 30px; }
    footer div.top-footer div.right p.heading {
      font-weight: 600;
      text-transform: uppercase; }
    footer div.top-footer div.right p {
      font-weight: 600;
      line-height: 1.5; }
    footer div.top-footer div.right div.social {
      width: 50%;
      float: left; }
      footer div.top-footer div.right div.social ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        footer div.top-footer div.right div.social ul li {
          display: inline-block;
          margin-right: 10px; }
    footer div.top-footer div.right div.contact {
      width: 40%;
      float: right; }

footer div.bottom-footer {
  position: relative;
  padding: 10px 75px; }
  footer div.bottom-footer p {
    color: #4C4C4C;
    font-weight: 600;
    margin: 0; }
  footer div.bottom-footer div.arrow-up {
    background: #48A2EA;
    width: 55px;
    position: absolute;
    right: 20%;
    bottom: 0;
    padding: 12px; }
    footer div.bottom-footer div.arrow-up img {
      max-width: 100%; }

body {
  font-family: din-2014, sans-serif;
  color: #233848; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

p, li {
  font-size: 16px;
  line-height: 1.5; }

a {
  color: #233848;
  text-decoration: none !important; }
  a:hover {
    color: #48A2EA; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  outline: 0; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px; }

.fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.group:after {
  content: "";
  clear: both;
  display: block; }

.white-eye-button {
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  line-height: 1; }
  .white-eye-button span {
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
  .white-eye-button:before {
    font-family: 'Glyphter';
    position: relative;
    display: inline-block;
    font-size: 22px;
    content: "\0055";
    vertical-align: middle;
    margin-right: 5px; }
  .white-eye-button:hover {
    background: #fff;
    color: #3B5163; }

.blue-eye-button {
  border: 2px solid #48A2EA;
  border-radius: 3px;
  color: #48A2EA;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  line-height: 1; }
  .blue-eye-button span {
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
  .blue-eye-button:before {
    font-family: 'Glyphter';
    position: relative;
    display: inline-block;
    font-size: 22px;
    content: "\0055";
    vertical-align: middle;
    margin-right: 5px; }
  .blue-eye-button:hover {
    background: #48A2EA;
    color: #fff; }

.blue-pray-button {
  border: 2px solid #48A2EA;
  border-radius: 3px;
  color: #48A2EA;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  line-height: 1; }
  .blue-pray-button span {
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
  .blue-pray-button:before {
    font-family: 'Glyphter';
    position: relative;
    display: inline-block;
    font-size: 22px;
    content: "\0055";
    vertical-align: middle;
    margin-right: 5px; }
  .blue-pray-button:hover {
    background: #48A2EA;
    color: #fff; }

.white-box {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 30px; }
  .white-box .white-box-header {
    height: 63.67px;
    border-bottom: 1px solid #E8ECEF;
    padding: 22px 35px;
    position: relative;
    z-index: 5; }
    .white-box .white-box-header.small-header {
      height: unset;
      padding: 11px 35px; }
      .white-box .white-box-header.small-header h3 {
        font-size: 16px; }
    .white-box .white-box-header div.more-actions {
      height: 16px;
      width: 16px;
      position: absolute;
      right: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer; }
      .white-box .white-box-header div.more-actions span {
        width: 4px;
        height: 4px;
        background: #868686;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%); }
        .white-box .white-box-header div.more-actions span:before {
          content: "";
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          top: -6px;
          width: 4px;
          height: 4px;
          background: #868686;
          border-radius: 50%; }
        .white-box .white-box-header div.more-actions span:after {
          content: "";
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          bottom: -6px;
          width: 4px;
          height: 4px;
          background: #868686;
          border-radius: 50%; }
    .white-box .white-box-header h3 {
      font-size: 18px;
      margin: 0;
      color: #3B5163; }
  .white-box .white-box-content {
    padding: 25px 35px;
    position: relative; }

.dropdown-child.z-index {
  z-index: 10; }

.dropdown-child div.dropdown {
  position: absolute;
  background: #F4F4F4;
  border: 1px solid #E6E8EB;
  border-top: 0;
  color: #868686;
  padding: 20px 25px;
  z-index: 5;
  display: none; }
  .dropdown-child div.dropdown.active {
    display: block; }
  .dropdown-child div.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .dropdown-child div.dropdown ul li {
      font-size: 16px;
      margin: 10px 0 0;
      font-weight: 600; }
      .dropdown-child div.dropdown ul li:first-child {
        margin: 0; }
      .dropdown-child div.dropdown ul li a {
        color: #868686; }

header {
  background: #233848;
  height: 70px; }
  header div.mark {
    padding: 0;
    background-color: unset;
    float: left;
    padding: 15px 30px; }
    header div.mark img {
      width: 62px;
      float: left;
      margin-right: 10px; }
    header div.mark p {
      margin: 6px 0 0;
      font-size: 18px;
      color: #FFFFFF;
      float: left; }
  header div.right {
    float: right;
    text-align: left;
    line-height: 1.5; }
    header div.right div.info {
      border-left: 1px solid rgba(255, 255, 255, 0.08);
      padding: 16px 60px 16px 20px;
      height: 70px;
      float: left;
      position: relative;
      cursor: pointer; }
      header div.right div.info:after {
        font-family: 'Glyphter';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
        right: 16px;
        content: "\005a";
        font-size: 14px;
        color: #fff; }
      header div.right div.info p {
        line-height: 1.2;
        margin: 0;
        color: #fff; }
        header div.right div.info p.location {
          font-size: 18px; }
        header div.right div.info p.dates {
          font-size: 13px; }
      header div.right div.info div.dropdown {
        left: 0;
        top: 71px;
        width: 100%; }
    header div.right div.notifications {
      border-left: 1px solid rgba(255, 255, 255, 0.08);
      padding: 16px 20px;
      height: 70px;
      float: left;
      position: relative;
      cursor: pointer; }
      header div.right div.notifications div.bell:before {
        font-family: 'Glyphter';
        content: "\0050";
        font-size: 24px;
        color: #fff;
        display: inline-block;
        vertical-align: middle; }
    header div.right div.profile {
      border-left: 1px solid rgba(255, 255, 255, 0.08);
      padding: 16px 66px 16px 20px;
      height: 70px;
      float: left;
      position: relative;
      padding-right: 100px;
      cursor: pointer; }
      header div.right div.profile:after {
        font-family: 'Glyphter';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
        right: 40px;
        content: "\005a";
        font-size: 14px;
        color: #fff; }
      header div.right div.profile img.profile-pic {
        width: 40px;
        height: 40px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
        float: left;
        margin-right: 10px; }
      header div.right div.profile div.person-info {
        float: left; }
        header div.right div.profile div.person-info p {
          line-height: 1.2;
          color: #fff;
          margin: 0; }
          header div.right div.profile div.person-info p.name {
            font-size: 18px;
            font-weight: 700; }
          header div.right div.profile div.person-info p.title {
            font-size: 13px; }
      header div.right div.profile div.dropdown {
        left: 0;
        top: 71px;
        width: 100%; }

main.dash {
  position: relative;
  background: #3B5163;
  height: calc(100vh - 70px); }
  main.dash section.side-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 260px;
    background: #3B5163; }
    main.dash section.side-bar ul.navigation {
      list-style: none;
      margin: 0;
      padding: 0; }
      main.dash section.side-bar ul.navigation li {
        width: 100%;
        font-size: 18px; }
        main.dash section.side-bar ul.navigation li a {
          color: #fff;
          text-decoration: none;
          padding: 15px 0 15px 40px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          border-left: 5px solid #3B5163;
          background: #3B5163;
          width: 100%;
          display: block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          position: relative; }
          main.dash section.side-bar ul.navigation li a:before {
            font-family: 'Glyphter';
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 10px;
            font-size: 16px; }
          main.dash section.side-bar ul.navigation li a:after {
            font-family: 'Glyphter';
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 15px;
            content: "\005a";
            font-size: 10px; }
          main.dash section.side-bar ul.navigation li a.manage-campaign:before {
            content: "\0044"; }
          main.dash section.side-bar ul.navigation li a.edit-campaign:before {
            content: "\0052"; }
          main.dash section.side-bar ul.navigation li a.calendar:before {
            content: "\0046"; }
          main.dash section.side-bar ul.navigation li a.resources:before {
            content: "\0047"; }
          main.dash section.side-bar ul.navigation li a:hover {
            border-left: 5px solid #fff;
            background: #7BB0D8; }
    main.dash section.side-bar .white-eye-button {
      width: 228px;
      margin: 30px auto 0;
      text-align: center;
      font-size: 15px; }
  main.dash section.main-content {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 260px);
    background: #F0F0F0;
    padding: 45px 65px;
    border-top: 1px solid #707070;
    overflow-y: scroll; }
    main.dash section.main-content div.overlay {
      background: rgba(255, 255, 255, 0.8);
      position: fixed;
      right: 0;
      bottom: 0;
      width: calc(100% - 260px);
      height: calc(100% - 70px);
      z-index: 999;
      display: none; }
      main.dash section.main-content div.overlay div.outside {
        background: #3B5163;
        border-radius: 6px;
        padding: 22px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        height: 85%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: none;
        width: 50%; }
        main.dash section.main-content div.overlay div.outside.bulk-members, main.dash section.main-content div.overlay div.outside.vigil-bulk-members {
          width: 90%;
          counter-reset: row; }
          main.dash section.main-content div.overlay div.outside.bulk-members .count, main.dash section.main-content div.overlay div.outside.vigil-bulk-members .count {
            border-top: 1px solid #E8ECEF;
            margin: 0;
            padding: 20px 0; }
            main.dash section.main-content div.overlay div.outside.bulk-members .count:first-child, main.dash section.main-content div.overlay div.outside.vigil-bulk-members .count:first-child {
              border-top: 0;
              padding-top: 0; }
            main.dash section.main-content div.overlay div.outside.bulk-members .count:before, main.dash section.main-content div.overlay div.outside.vigil-bulk-members .count:before {
              counter-increment: row;
              content: counter(row, decimal-leading-zero) ".";
              font-size: 18px;
              width: 35px;
              float: left;
              display: block;
              margin-top: 6px;
              padding-left: 7.5px; }
            main.dash section.main-content div.overlay div.outside.bulk-members .count .width-35, main.dash section.main-content div.overlay div.outside.vigil-bulk-members .count .width-35 {
              width: calc(35% - 35px) !important; }
        main.dash section.main-content div.overlay div.outside.new-member {
          width: 50%; }
        main.dash section.main-content div.overlay div.outside#view-member .reservations {
          margin-top: 60px; }
          main.dash section.main-content div.overlay div.outside#view-member .reservations p.vigil-reservations {
            color: #3B5163;
            font-size: 18px;
            margin-bottom: 0; }
        main.dash section.main-content div.overlay div.outside#view-member div.team-members-header, main.dash section.main-content div.overlay div.outside#view-member div.vigil-header {
          border-bottom: 1px solid #E8ECEF;
          padding: 0;
          margin-top: 20px; }
          main.dash section.main-content div.overlay div.outside#view-member div.team-members-header p, main.dash section.main-content div.overlay div.outside#view-member div.vigil-header p {
            font-size: 16px;
            color: #3B5163;
            margin: 0;
            padding: 8px 0; }
          main.dash section.main-content div.overlay div.outside#view-member div.team-members-header div, main.dash section.main-content div.overlay div.outside#view-member div.vigil-header div {
            float: left; }
            main.dash section.main-content div.overlay div.outside#view-member div.team-members-header div.name, main.dash section.main-content div.overlay div.outside#view-member div.vigil-header div.name {
              width: 40%; }
            main.dash section.main-content div.overlay div.outside#view-member div.team-members-header div.date-joined, main.dash section.main-content div.overlay div.outside#view-member div.vigil-header div.date-joined {
              width: 28%; }
            main.dash section.main-content div.overlay div.outside#view-member div.team-members-header div.phone-number, main.dash section.main-content div.overlay div.outside#view-member div.vigil-header div.phone-number {
              width: 32%; }
        main.dash section.main-content div.overlay div.outside#view-member div.team-members-content, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content {
          border-bottom: 1px solid #E8ECEF;
          padding: 0;
          background: #fff; }
          main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-members-container, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-members-container {
            padding: 0; }
          main.dash section.main-content div.overlay div.outside#view-member div.team-members-content p, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content p {
            font-size: 16px;
            color: #717171;
            margin: 0;
            padding: 8px 0; }
          main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member {
            border-top: 1px solid #E8ECEF;
            padding: 10px 0; }
            main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member:first-child, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member:first-child {
              border-top: 0; }
            main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member div, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div {
              float: left; }
              main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member div.name, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div.name {
                width: 40%; }
                main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member div.name img.avatar, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div.name img.avatar {
                  width: 40px;
                  height: 40px;
                  -o-object-fit: cover;
                  object-fit: cover;
                  border-radius: 50%;
                  float: left;
                  margin-right: 10px; }
                main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member div.name p, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div.name p {
                  font-size: 16px;
                  color: #3B5163;
                  cursor: pointer; }
              main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member div.date-joined, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div.date-joined {
                width: 28%; }
              main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member div.phone-number, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div.phone-number {
                width: 18%; }
              main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member div.actions, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div.actions {
                width: 14%;
                position: relative; }
                main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member div.actions a.send-message, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div.actions a.send-message {
                  color: #868686;
                  font-weight: 700;
                  font-size: 14px;
                  display: block;
                  padding: 11px 0;
                  text-align: right; }
                  main.dash section.main-content div.overlay div.outside#view-member div.team-members-content div.team-member div.actions a.send-message:before, main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div.actions a.send-message:before {
                    font-family: 'Glyphter';
                    content: "\0054";
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 8px;
                    color: #48A2EA;
                    cursor: pointer; }
        main.dash section.main-content div.overlay div.outside#view-member div.vigil-content div.team-member div.name p {
          color: #717171 !important; }
        main.dash section.main-content div.overlay div.outside#view-member div.blue-pray-button {
          margin-top: 40px;
          display: inline-block;
          line-height: 0.5; }
        main.dash section.main-content div.overlay div.outside div.inside {
          border-radius: 6px;
          background: #fff;
          position: absolute;
          left: 22px;
          right: 22px;
          top: 22px;
          bottom: 22px;
          padding: 60px;
          overflow-y: scroll; }
          main.dash section.main-content div.overlay div.outside div.inside::-webkit-scrollbar-thumb {
            background: #fff;
            -webkit-transition: background 0.5s ease;
            -o-transition: background 0.5s ease;
            transition: background 0.5s ease; }
          main.dash section.main-content div.overlay div.outside div.inside:hover::-webkit-scrollbar-thumb {
            background: #e0e0e0; }
          main.dash section.main-content div.overlay div.outside div.inside div.ss-container {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%; }
          main.dash section.main-content div.overlay div.outside div.inside img.close-it {
            position: absolute;
            right: 10px;
            top: 15px;
            cursor: pointer;
            width: 35px;
            z-index: 90; }
          main.dash section.main-content div.overlay div.outside div.inside .ss-content {
            overflow-x: hidden;
            padding-right: 18px;
            padding: 60px; }
          main.dash section.main-content div.overlay div.outside div.inside h1 {
            font-size: 30px;
            margin-top: 0; }
            main.dash section.main-content div.overlay div.outside div.inside h1 span {
              font-weight: 700;
              color: #48A2EA; }
          main.dash section.main-content div.overlay div.outside div.inside p {
            color: #717171; }
          main.dash section.main-content div.overlay div.outside div.inside .form-group {
            margin: 0 -7.5px 25px; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group.less-margin {
              margin: 0 -7.5px 0px; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group:after {
              content: "";
              clear: both;
              display: block; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-80, main.dash section.main-content div.overlay div.outside div.inside .form-group .width-33, main.dash section.main-content div.overlay div.outside div.inside .form-group .width-100, main.dash section.main-content div.overlay div.outside div.inside .form-group .width-15, main.dash section.main-content div.overlay div.outside div.inside .form-group .width-20, main.dash section.main-content div.overlay div.outside div.inside .form-group .width-35, main.dash section.main-content div.overlay div.outside div.inside .form-group .width-45,
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-16 {
              padding: 7.5px;
              float: left; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-15 {
              width: 15%; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-16 {
              width: 16%; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-20 {
              width: 20%; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-33 {
              width: 33.33%; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-35 {
              width: 35%; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-45 {
              width: 45%; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-80 {
              width: 80%; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .width-100 {
              width: 100%; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group label {
              font-weight: 400;
              color: #717171;
              display: block; }
              main.dash section.main-content div.overlay div.outside div.inside .form-group label.checkbox {
                position: relative;
                padding-left: 26px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: pointer; }
                main.dash section.main-content div.overlay div.outside div.inside .form-group label.checkbox input[type=checkbox] {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0; }
                  main.dash section.main-content div.overlay div.outside div.inside .form-group label.checkbox input[type=checkbox]:checked ~ .checkmark {
                    border: 1px solid #48A2EA; }
                    main.dash section.main-content div.overlay div.outside div.inside .form-group label.checkbox input[type=checkbox]:checked ~ .checkmark:after {
                      display: block; }
                main.dash section.main-content div.overlay div.outside div.inside .form-group label.checkbox .checkmark {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 19px;
                  width: 19px;
                  background: #F8FDFF;
                  border: 1px solid #CFE1E6;
                  border-radius: 2px;
                  cursor: pointer; }
                  main.dash section.main-content div.overlay div.outside div.inside .form-group label.checkbox .checkmark:after {
                    content: "✔";
                    position: absolute;
                    display: none;
                    left: 3px;
                    top: -1px;
                    width: 5px;
                    height: 10px;
                    color: #48A2EA; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .selectric {
              background: #F8FDFF;
              width: 100%;
              border: 1px solid #CFE1E6;
              border-radius: 2px;
              font-size: 16px;
              color: #3B5163; }
              main.dash section.main-content div.overlay div.outside div.inside .form-group .selectric .label {
                font-size: 16px;
                color: #717171;
                text-align: left;
                font-weight: 400;
                height: 42px; }
              main.dash section.main-content div.overlay div.outside div.inside .form-group .selectric .button {
                background-color: unset;
                height: 42px;
                width: 42px; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group .selectric-items {
              background: #F8FDFF;
              border: 1px solid #CFE1E6; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group input, main.dash section.main-content div.overlay div.outside div.inside .form-group textarea {
              background: #F8FDFF;
              width: 100%;
              border: 1px solid #CFE1E6;
              border-radius: 2px;
              padding: 10px 20px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              -webkit-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease; }
              main.dash section.main-content div.overlay div.outside div.inside .form-group input:focus, main.dash section.main-content div.overlay div.outside div.inside .form-group textarea:focus {
                border: 1px solid #48A2EA; }
            main.dash section.main-content div.overlay div.outside div.inside .form-group textarea {
              height: 106px; }
          main.dash section.main-content div.overlay div.outside div.inside ul.toggle {
            list-style: none;
            padding: 0;
            margin: 21px 0 45px; }
            main.dash section.main-content div.overlay div.outside div.inside ul.toggle li {
              display: inline-block;
              margin-right: 20px;
              color: #3B5163;
              font-size: 16px;
              padding-bottom: 5px;
              cursor: pointer; }
              main.dash section.main-content div.overlay div.outside div.inside ul.toggle li.active {
                color: #48A2EA;
                border-bottom: 1px solid #48A2EA; }
          main.dash section.main-content div.overlay div.outside div.inside div.toggle-results {
            position: relative; }
            main.dash section.main-content div.overlay div.outside div.inside div.toggle-results div.result {
              opacity: 0;
              position: absolute;
              width: 100%;
              -webkit-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease; }
              main.dash section.main-content div.overlay div.outside div.inside div.toggle-results div.result.active {
                opacity: 1; }
    main.dash section.main-content div.top-actions div.overlay-action {
      background: #fff;
      border-radius: 4px;
      line-height: 1.2;
      color: #717171;
      padding: 20px 0 20px 74px;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: relative; }
      main.dash section.main-content div.top-actions div.overlay-action:before {
        color: #3B5163;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: 'Glyphter';
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 74px;
        text-align: center;
        font-size: 32px; }
      main.dash section.main-content div.top-actions div.overlay-action:after {
        color: #3B5163;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: 'Glyphter';
        position: absolute;
        right: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 16px;
        content: "\0061"; }
      main.dash section.main-content div.top-actions div.overlay-action.add-member:before {
        content: "\0057"; }
      main.dash section.main-content div.top-actions div.overlay-action.add-hours:before {
        content: "\0062"; }
      main.dash section.main-content div.top-actions div.overlay-action.message-team:before {
        content: "\0054";
        font-size: 30px; }
      main.dash section.main-content div.top-actions div.overlay-action.add-event:before {
        content: "\004a";
        font-size: 30px; }
      main.dash section.main-content div.top-actions div.overlay-action:hover h4 {
        color: #48A2EA; }
      main.dash section.main-content div.top-actions div.overlay-action:hover:before {
        color: #48A2EA; }
      main.dash section.main-content div.top-actions div.overlay-action:hover:after {
        color: #48A2EA; }
      main.dash section.main-content div.top-actions div.overlay-action h4 {
        font-size: 18px;
        margin: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      main.dash section.main-content div.top-actions div.overlay-action p {
        font-size: 13px;
        margin: 0; }
    main.dash section.main-content div.page-content {
      margin-top: 30px; }
      main.dash section.main-content div.page-content .col-md-70 {
        width: 70%;
        float: left;
        padding: 0 15px; }
      main.dash section.main-content div.page-content .col-md-30 {
        width: 30%;
        float: left;
        padding: 0 15px; }
      main.dash section.main-content div.page-content div.white-box.local-contact-info .more-actions div.dropdown {
        width: 196px;
        border-top: 1px solid #E6E8EB;
        top: 22px;
        right: -15px;
        padding: 15px 25px; }
      main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile {
        border-left: 1px solid rgba(255, 255, 255, 0.08);
        float: left;
        position: relative; }
        main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile img.profile-pic {
          width: 40px;
          height: 40px;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 50%;
          float: left;
          margin-right: 10px; }
        main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info {
          float: left; }
          main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p {
            line-height: 1.2;
            color: #717171;
            margin: 0;
            font-size: 16px; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.verified:after {
              font-family: 'Glyphter';
              content: "\0051";
              color: #48A2EA;
              display: inline-block;
              margin-left: 5px;
              font-size: 12px; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.name {
              font-weight: 700;
              color: #3B5163; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.phone {
              margin-top: 5px;
              position: relative; }
              main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.phone:before {
                font-family: 'Glyphter';
                content: "\0059";
                display: inline-block;
                margin-right: 5px;
                color: #3B5163;
                vertical-align: bottom; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.email {
              margin-top: 5px;
              position: relative; }
              main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info p.email:before {
                font-family: 'Glyphter';
                content: "\0054";
                display: inline-block;
                margin-right: 5px;
                color: #3B5163;
                vertical-align: bottom; }
          main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info ul.social-media {
            list-style: none;
            margin: 0;
            padding: 0; }
            main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info ul.social-media li {
              display: inline-block;
              margin-right: 10px; }
              main.dash section.main-content div.page-content div.white-box.local-contact-info div.profile div.person-info ul.social-media li img {
                width: 25px; }
      main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header {
        border-bottom: 1px solid #E8ECEF;
        padding: 10px 35px; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header p {
          font-size: 18px;
          color: #3B5163;
          margin: 0;
          padding: 8px 0;
          font-weight: 600; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div {
          float: left; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.name {
            width: 31%; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.account {
            width: 15%; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.date-joined {
            width: 18%; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.phone-number {
            width: 18%; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.view-lists {
            width: 18%; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-header div.view-lists .blue-eye-button {
              width: 136px;
              float: right;
              text-align: center;
              padding: 8px; }
      main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content {
        border-bottom: 1px solid #E8ECEF;
        padding: 0;
        background: #fff; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-members-container {
          padding: 0 35px; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content p {
          font-size: 16px;
          color: #717171;
          margin: 0;
          padding: 8px 0; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member {
          border-top: 1px solid #E8ECEF;
          padding: 10px 0; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member:first-child {
            border-top: 0; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div {
            float: left; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.name {
              width: 31%; }
              main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.name img.avatar {
                width: 40px;
                height: 40px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
                float: left;
                margin-right: 10px; }
              main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.name p {
                font-size: 18px;
                color: #3B5163;
                font-weight: 600;
                cursor: pointer; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.account {
              width: 15%; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.date-joined {
              width: 18%; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.phone-number {
              width: 18%; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions {
              width: 18%;
              position: relative; }
              main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions a.send-message {
                color: #868686;
                font-weight: 700;
                font-size: 14px;
                display: block;
                padding: 11px 0; }
                main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions a.send-message:before {
                  font-family: 'Glyphter';
                  content: "\0054";
                  display: inline-block;
                  vertical-align: middle;
                  margin-right: 8px; }
              main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions div.more-actions {
                height: 16px;
                width: 16px;
                position: absolute;
                right: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer;
                margin-right: -4px; }
                main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions div.more-actions div.dropdown {
                  width: 196px;
                  border-top: 1px solid #E6E8EB;
                  top: 22px;
                  right: -15px;
                  padding: 15px 25px; }
                main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions div.more-actions span {
                  width: 4px;
                  height: 4px;
                  background: #868686;
                  border-radius: 50%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  -webkit-transform: translateY(-50%) translateX(-50%);
                  -ms-transform: translateY(-50%) translateX(-50%);
                  transform: translateY(-50%) translateX(-50%); }
                  main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions div.more-actions span:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    top: -6px;
                    width: 4px;
                    height: 4px;
                    background: #868686;
                    border-radius: 50%; }
                  main.dash section.main-content div.page-content div.white-box.team-members div.team-members-content div.team-member div.actions div.more-actions span:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    bottom: -6px;
                    width: 4px;
                    height: 4px;
                    background: #868686;
                    border-radius: 50%; }
      main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer {
        padding: 20px 35px; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.filters {
          float: left;
          padding: 10px 0; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.filters p {
            font-size: 15px;
            color: #717171;
            display: inline-block;
            margin: 0 15px 0 0; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.filters p.title {
              font-style: italic; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.filters p.filter {
              font-weight: 600; }
        main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search {
          float: right;
          position: relative; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search:after {
            font-family: 'Glyphter';
            position: absolute;
            content: "\004d";
            color: #48A2EA;
            right: 15px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search label {
            font-size: 15px;
            margin-right: 15px;
            color: #717171;
            font-style: italic;
            display: inline-block;
            font-weight: 400; }
          main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search input[type=text] {
            display: inline-block;
            font-size: 14px;
            border: 1px solid #CFE1E6;
            border-radius: 4px;
            padding: 10px 50px 10px 20px;
            outline: 0 !important;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            main.dash section.main-content div.page-content div.white-box.team-members div.team-members-footer div.search input[type=text]:focus {
              border: 1px solid #48A2EA; }

p.test1 {
  font-family: 'Glyphter';
  position: relative; }
  p.test1:before {
    content: "\0041";
    display: inline-block; }

p.test2 {
  font-family: 'Glyphter';
  position: relative; }
  p.test2:before {
    content: "\0042";
    display: inline-block; }

p.test3 {
  font-family: 'Glyphter';
  position: relative; }
  p.test3:before {
    content: "\0043";
    display: inline-block; }

p.test4 {
  font-family: 'Glyphter';
  position: relative; }
  p.test4:before {
    content: "\0044";
    display: inline-block; }

p.test5 {
  font-family: 'Glyphter';
  position: relative; }
  p.test5:before {
    content: "\0045";
    display: inline-block; }

p.test6 {
  font-family: 'Glyphter';
  position: relative; }
  p.test6:before {
    content: "\0046";
    display: inline-block; }

p.test7 {
  font-family: 'Glyphter';
  position: relative; }
  p.test7:before {
    content: "\0047";
    display: inline-block; }

p.test8 {
  font-family: 'Glyphter';
  position: relative; }
  p.test8:before {
    content: "\0048";
    display: inline-block; }

p.test9 {
  font-family: 'Glyphter';
  position: relative; }
  p.test9:before {
    content: "\0049";
    display: inline-block; }

p.test10 {
  font-family: 'Glyphter';
  position: relative; }
  p.test10:before {
    content: "\004a";
    display: inline-block; }

p.test11 {
  font-family: 'Glyphter';
  position: relative; }
  p.test11:before {
    content: "\004b";
    display: inline-block; }

p.test12 {
  font-family: 'Glyphter';
  position: relative; }
  p.test12:before {
    content: "\004c";
    display: inline-block; }

p.test13 {
  font-family: 'Glyphter';
  position: relative; }
  p.test13:before {
    content: "\004d";
    display: inline-block; }

p.test14 {
  font-family: 'Glyphter';
  position: relative; }
  p.test14:before {
    content: "\004e";
    display: inline-block; }

p.test15 {
  font-family: 'Glyphter';
  position: relative; }
  p.test15:before {
    content: "\004f";
    display: inline-block; }

p.test16 {
  font-family: 'Glyphter';
  position: relative; }
  p.test16:before {
    content: "\0050";
    display: inline-block; }

p.test17 {
  font-family: 'Glyphter';
  position: relative; }
  p.test17:before {
    content: "\0051";
    display: inline-block; }

p.test18 {
  font-family: 'Glyphter';
  position: relative; }
  p.test18:before {
    content: "\0052";
    display: inline-block; }

p.test19 {
  font-family: 'Glyphter';
  position: relative; }
  p.test19:before {
    content: "\0053";
    display: inline-block; }

p.test20 {
  font-family: 'Glyphter';
  position: relative; }
  p.test20:before {
    content: "\0054";
    display: inline-block; }

p.test21 {
  font-family: 'Glyphter';
  position: relative; }
  p.test21:before {
    content: "\0055";
    display: inline-block; }

p.test22 {
  font-family: 'Glyphter';
  position: relative; }
  p.test22:before {
    content: "\0056";
    display: inline-block; }

p.test23 {
  font-family: 'Glyphter';
  position: relative; }
  p.test23:before {
    content: "\0057";
    display: inline-block; }

p.test24 {
  font-family: 'Glyphter';
  position: relative; }
  p.test24:before {
    content: "\0058";
    display: inline-block; }

p.test26 {
  font-family: 'Glyphter';
  position: relative; }
  p.test26:before {
    content: "\0059";
    display: inline-block; }

p.test27 {
  font-family: 'Glyphter';
  position: relative; }
  p.test27:before {
    content: "\005a";
    display: inline-block; }

p.test28 {
  font-family: 'Glyphter';
  position: relative; }
  p.test28:before {
    content: "\0061";
    display: inline-block; }

p.test29 {
  font-family: 'Glyphter';
  position: relative; }
  p.test29:before {
    content: "\0062";
    display: inline-block; }

p.test30 {
  font-family: 'Glyphter';
  position: relative; }
  p.test30:before {
    content: "\0063";
    display: inline-block; }
